* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lekton', sans-serif;
}

body {
  background-color: rgb(36, 36, 36);
}

main {
  background-image: url(img/cave.png);
  background-position: 0 -365px;
  background-size: 180%;
  width: 800px;
  height: 500px;
  margin: 25px auto;
}


/*========== default hp bar ============*/

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 20px;
}


/*the actual health value*/

progress::-webkit-progress-value {
  background-image: linear-gradient(270deg, rgb(8, 145, 1), rgb(49, 185, 36));
  border-radius: 3px;
}


/*the health bar bg*/

progress::-webkit-progress-bar {
  border-radius: 3px;
}


/*=========== enemy information ===========*/


/*enemy hp container*/

.enemyStat {
  display: flex;
  position: relative;
  top: 50px;
  left: 50px;
}


/*enemy hp bar*/

#enemyHlth {
  margin-right: 5px;
  transition: .3s;
  transition-property: value;
}


/*enemy hp text*/

#enemyHlthNum {
  position: absolute;
  left: 10px;
  top: 2px;
  text-align: left;
  font-size: 18px;
  margin-right: 7px;
  color: white;
}


/*da critz text*/

#crit {
  display: none;
  position: absolute;
  top: 25px;
  left: 130px;
  color: rgb(255, 65, 65);
  transition: .3s;
}


/*=========== bottom bar ==============*/


/*bottom container*/

.actionBar {
  position: relative;
  top: 335px;
  height: 150px;
  width: 100%;
  background-image: linear-gradient(180deg, rgb(57, 66, 189), rgb(86, 117, 227));
  padding: 20px;
}


/*container for action buttons*/

.fightActions {
  position: relative;
  top: -20px;
  left: 50px;
  width: 250px;
  height: 100px;
}


/*action button list*/

.fightActions>ul {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
}


/*action button items*/

.fightActions>ul>li {
  list-style: none;
  flex: 1;
  margin-right: 5px;
  margin-bottom: 5px;
  min-width: 100px;
  height: 50px;
  border: 2px solid rgb(153, 209, 230);
  border-radius: 9px;
}

.fightActions>ul>li>button {
  background-color: rgb(103, 127, 213);
  border: none;
  border-radius: 7px;
  padding: 4px 10px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 13px;
}

.fightActions>ul>li>button:hover {
  background-color: rgb(94, 142, 198);
  box-shadow: 0 0 10px 5px rgba(55, 60, 98, 0.18);
}

.fightActions>ul>li>button:focus {
  outline: none;
}


/*============= hero health bar============*/


/*container*/

.friendStat {
  display: flex;
  position: relative;
  left: 535px;
}


/*health bar*/

#friendlyHlth {
  transform: rotate(180deg);
}


/*health text*/

#myHlthNum {
  position: absolute;
  left: 10px;
  top: 2px;
  text-align: left;
  font-size: 18px;
  margin-right: 7px;
  color: white;
  z-index: 1;
}
